/* line 3, ../_sass/custom.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 8, ../_sass/custom.scss */
html, body {
  height: 100%;
}

/* line 10, ../_sass/custom.scss */
body {
  line-height: 1.5;
  background-color: #fff;
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-size: 14px;
  text-align: left;
  color: #fff;
}

/* line 19, ../_sass/custom.scss */
.site {
  width: auto;
  max-width: 960px;
  padding: 0px 15px;
}

/* line 25, ../_sass/custom.scss */
.header {
  margin-top: 90px;
}

/* line 29, ../_sass/custom.scss */
h1 {
  font-size: 32px;
  text-shadow: 0 1px 0 #fff;
  color: #433838;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 0px;
}

/* line 38, ../_sass/custom.scss */
.btn {
  border-radius: 3px;
  padding: 9px 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4A585F;
  font-size: 12px;
  margin-top: -3px;
}

/* line 48, ../_sass/custom.scss */
.twtr {
  background-image: url("/assets/twitter.png");
  background-size: 35px 29px;
  width: 35px;
  height: 29px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  right: 121px;
  top: 2px;
  transition: background .2s ease-in-out;
}
/* line 60, ../_sass/custom.scss */
.twtr:hover {
  background-image: url("/assets/twitter-hover.png");
  cursor: pointer;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 66, ../_sass/custom.scss */
  .twtr .twtr {
    background-image: url("/assets/twitter@2x.png");
  }
  /* line 69, ../_sass/custom.scss */
  .twtr .twtr:hover {
    background-image: url("/assets/twitter-hover@2x.png");
  }
}

/* line 77, ../_sass/custom.scss */
.btn-default {
  border-color: #C2CDD6;
  transition: all .2s ease-in-out;
  border-radius: 2px;
}
/* line 82, ../_sass/custom.scss */
.btn-default:hover {
  background-color: #1DAFEC;
  border: 1px solid #1DAFEC;
  color: #fff;
}

/* line 89, ../_sass/custom.scss */
.bio {
  font-size: 32px;
  color: #333;
  font-weight: 300;
  line-height: 1.45em;
  margin-bottom: 20px;
  letter-spacing: -1px;
  margin-bottom: 90px;
}

/* line 99, ../_sass/custom.scss */
.bio a {
  font-weight: inherit;
  color: #2C75F6;
}

/* line 104, ../_sass/custom.scss */
.g {
  color: #2C75F6;
}

/* line 108, ../_sass/custom.scss */
.o1 {
  color: #DC4935;
}

/* line 112, ../_sass/custom.scss */
.o2 {
  color: #FFC708;
}

/* line 116, ../_sass/custom.scss */
.l {
  color: #009857;
}

/* line 120, ../_sass/custom.scss */
.text-muted {
  font-size: 18px;
  font-weight: 300;
  margin-top: 35px;
  line-height: 1.4em;
}

/* line 127, ../_sass/custom.scss */
article {
  padding: 10% 0px;
  text-align: center;
}
/* line 131, ../_sass/custom.scss */
article .desc {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 20px;
}

/* line 137, ../_sass/custom.scss */
.fullstory {
  background-color: #1DAFEC;
}

/* line 141, ../_sass/custom.scss */
.homebase {
  background-color: #39464D;
}

/* line 145, ../_sass/custom.scss */
.google {
  background-color: #fff;
}

/* line 149, ../_sass/custom.scss */
.google .logo {
  background-image: url("/assets/google.png");
  background-size: 650px 226px;
  width: 650px;
  height: 226px;
  background-repeat: no-repeat;
  margin: 0px auto 50px auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 158, ../_sass/custom.scss */
  .google .logo {
    background-image: url("/assets/google@2x.png");
  }
}
/* line 163, ../_sass/custom.scss */
.homebase .logo {
  background-image: url("/assets/hblogo.png");
  background-size: 641px 147px;
  width: 641px;
  height: 147px;
  background-repeat: no-repeat;
  margin: 0px auto 50px auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 172, ../_sass/custom.scss */
  .homebase .logo {
    background-image: url("/assets/hblogo@2x.png");
  }
}
/* line 177, ../_sass/custom.scss */
.fullstory .logo {
  background-image: url("/assets/fslogo.png");
  background-size: 651px 210px;
  width: 651px;
  height: 210px;
  background-repeat: no-repeat;
  margin: 0px auto 50px auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 186, ../_sass/custom.scss */
  .fullstory .logo {
    background-image: url("/assets/fslogo@2x.png");
  }
}
/* line 190, ../_sass/custom.scss */
.fullstory a {
  color: #fff;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  padding-right: 14px;
}

/* line 198, ../_sass/custom.scss */
.fullstory a:after {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 0;
  vertical-align: middle;
  width: 6px;
  height: 9px;
  content: "";
  background-image: url("/assets/chevron-x2.png");
  background-size: 6px 9px;
}

@media (max-width: 979px) {
  /* line 212, ../_sass/custom.scss */
  .header {
    margin-top: 60px;
  }

  /* line 216, ../_sass/custom.scss */
  .bio {
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  /* line 221, ../_sass/custom.scss */
  .header {
    margin-top: 20px;
  }

  /* line 225, ../_sass/custom.scss */
  h1 {
    font-size: 24px;
    margin-top: 7px;
  }

  /* line 230, ../_sass/custom.scss */
  .bio {
    font-size: 24px;
  }

  /* line 234, ../_sass/custom.scss */
  .bio {
    margin-bottom: 30px;
  }
}
