---
---

$bodyBlue: #1DAFEC;

body {
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-size: 14px;
  text-align: left;
  color: #fff;
}

.site {
  width: auto;
  max-width: 960px;
  padding: 0px 15px;
}

.header {
  margin-top: 90px;
}

h1 {
  font-size: 32px;
  text-shadow: 0 1px 0 #fff;
  color: #433838;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top:0px;
}

.btn {
  border-radius: 3px;
  padding: 9px 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4A585F;
  font-size: 12px;
  margin-top: -3px;
}

.bio {
  font-size: 32px;
  color: #333;
  font-weight: 300;
  line-height: 1.45em;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

.bio a {
  font-weight: inherit;
  color: #08c;
}

.g {
  color: #2C75F6;
}

.o1 {
  color: #DC4935;
}

.o2 {
  color: #FFC708;
}

.l {
  color: #009857;
}

.text-muted, .desc {
  font-size: 18px;
  font-weight: 300;
  margin-top: 35px;
  line-height: 1.4em;
}

.desc {
  margin-top: 18px;
}

.mt {
  margin-top: 95px;
}

.fullstory {
  background-color: #1DAFEC;
}

.fullstory .logo {
  background-image: url("/assets/fullstorylogo.png");
  background-size: 158px 51px;
  width: 158px;
  height: 51px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .fullstory .logo {
    background-image: url("/assets/fullstorylogo@2x.png");
  }
}
.fullstory a {
  color: #fff;
  font-weight: 600;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  padding-right: 14px;
}
.fullstory a:after {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 0;
  vertical-align: middle;
  width: 6px;
  height: 9px;
  content: "";
  background-image: url("/assets/chevron-x2.png");
  background-size: 6px 9px;
}

@media (max-width: 979px) {
  .header {
    margin-top: 60px;
  }

  .mt {
    margin-top: 50px;
  }
}
@media (max-width: 480px) {
  .header {
    margin-top: 20px;
  }

  h1 {
    font-size: 24px;
    margin-top: 7px;
  }

  .bio {
    font-size: 24px;
  }

  .mt {
    margin-top: 30px;
  }
}