---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   15px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit:     26px;

$text-color:       #222;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$link-color:	   	 #4285f4;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    692px;
$on-palm:          600px;
$on-laptop:        700px;

$res_lg: 1200px;
$res_md: 992px;
$res_sm: 768px;
$res_xs: 480px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
	font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial, Sans;
	background: #fff;
}

html, body {
    height: 100%;
    margin: 0;
}

#wrap {
    padding: 10px;
    min-height: -webkit-calc(100% - 259px);     /* Chrome */
    min-height: -moz-calc(100% - 259px);     /* Firefox */
    min-height: calc(100% - 259px);     /* native */
}

a, a:visited {
	color:$link-color;
}

.wrapper {
}

.site-header {
	border:none;

	.wrapper {
		text-align: center;
	}

	ul {
		margin-top: -3px;
	}

	li {
		display: inline;

		&:after {
			content: '·';
			font-size: 18px;
			padding-left: 8px;
			padding-right: 4px;
		}

		&:last-child {
			&:after {
				content:'';
				padding:0;
			}
		}

		a {
			color:#222;

			&:hover {
				color:$link-color;
				text-decoration: none;
			}
		}
	}

	.bio {
		color: #222;
		font-size: 22px;
		font-weight: 100;
		margin-bottom: 4px;
	}
}

.g {
  color: #4285f4;
}

.o1 {
  color: #ea4335;
}

.o2 {
  color: #fbbc05;
}

.l {
  color: #34a853;
}

.header-pic {
	background: url(/assets/josht.jpeg) no-repeat;
	background-size: 96px 96px;
	height:96px;
	width: 96px;
	display: inline-block;
	background-position: center;
	margin-bottom:36px;
	margin-top:	90px;
	border-radius: 48px;
}

.page-content {
    padding: 72px 0;
}

.status {
	margin-bottom: 56px;
	display: inline-block;
	margin-right: 136px;

	.meta {
		text-transform: uppercase;
		color: #96A2AC;
		font-size: 13px;
		font-weight: 400;
		letter-spacing: 0.10em;
		margin-bottom: 4px;
	}
}

.post-link {
	display: inline-block;
	font-size: 15px;
}

.post-list { 

	> li {
    margin-bottom: 0;
    border-bottom: 1px solid #E4E8EB;
    line-height: 3.5em;
  }

  a {
  	color: #222;
  	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
  	align-items: baseline;
  	justify-content: space-between;

  	&:hover {
  		color: $link-color;
  		text-decoration: none;
  	}
  }

  .post-meta {
  	text-transform: lowercase;
  	font-family: "Whitney SSm SC A","Whitney SSm SC B",Helvetica,Arial,sans-serif;
    color: #96A2AC;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-align: right;
  }
}

.post, .page {
	.bio {
		display: none;
	}

	.page-content {
	    padding: 0 0 72px 0;
	}

	.post-header {

		.post-meta {
			text-transform: lowercase;
			font-family: "Whitney SSm SC A","Whitney SSm SC B",Helvetica,Arial,sans-serif;
			text-align: center;
	    color: #96A2AC;
	    font-size: 13px;
	    font-weight: 300;
	    letter-spacing: 0.05em;
	    margin-top: 8px;
  	}
	}

	.post-title {
		font-size:22px;
		margin-bottom: 8px;
		font-weight: 500;
		text-align: center;
		letter-spacing: 0px;
		margin-top: 6px;
	}

	.post-content {

		p {
			line-height: 1.9em;
		}

		strong {
			font-weight: 600;
		}

		h4 {
			font-size: 15px;
	    font-weight: 600;
	    margin-top: 32px;
		}

		img {
    	margin:8px 0;
		}

		figure {	
			text-align: center;
			margin:20px 0 0 0;

			@media (min-width: $res_md) {
				margin-left: -90px;
				margin-right: -90px;
			}

	    @media (min-width: $res_lg) {
	    	margin-left: -265px;
	    	margin-right: -265px;
	    }

	    img {
	    	max-width: 100%;
	    }

	    figcaption {
	    	margin:12px 0 20px 0;
	    }
		}
	}
}

article hr {
	   width: 22px;
    margin: 56px auto;
    border-style: none;
    border: 1px solid #222;
}

.site-footer {
	border:none;
	padding-bottom: 0px;
	position: relative;
	clear:both;
	padding:0px;
}

.footer-col {
	margin-bottom: 0px;
	color:#222;
}

.footer-col-wrapper {
	margin:0px;
}

.jt-brand {
	background: url(/assets/jt-brand.png) no-repeat;
	background-size: 119px 239px;
	background-position: center;
  height: 239px;

	@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 2dppx) {
	  background-image: url(/assets/jt-brand@2x.png)
	}
}