/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../_sass/screen.scss */
body {
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-size: 14px;
  text-align: left;
}

/* line 18, ../_sass/screen.scss */
.site {
  width: auto;
  max-width: 960px;
  padding: 0px 15px;
}

/* line 24, ../_sass/screen.scss */
.header {
  margin-top: 90px;
}

/* line 28, ../_sass/screen.scss */
h1 {
  font-size: 32px;
  text-shadow: 0 1px 0 #fff;
  color: #433838;
  font-weight: 600;
  margin-bottom: 50px;
}

/* line 36, ../_sass/screen.scss */
.bio {
  font-size: 32px;
  color: #333;
  font-weight: 300;
  line-height: 1.45em;
  margin-bottom: 20px;
  letter-spacing: -1px;
}
/* line 44, ../_sass/screen.scss */
.bio a {
  font-weight: inherit;
  color: #08c;
}
/* line 49, ../_sass/screen.scss */
.bio > .text-muted {
  font-size: 18px;
  font-weight: 400;
  margin-top: 35px;
  line-height: 1.5em;
}

/* line 57, ../_sass/screen.scss */
.img-hero {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: none;
  max-width: none;
  height: auto;
  width: auto;
}

/* line 67, ../_sass/screen.scss */
.fullstory {
  background-color: #1DAFEC;
  height: 582px;
  margin-top: 45px;
  position: relative;
}
/* line 73, ../_sass/screen.scss */
.fullstory .logo {
  background-image: url("/assets/fullstorylogo.png");
  background-repeat: no-repeat;
  height: 51px;
  width: 158px;
}
