<header class="site-header">

  <div class="wrap">

    <div class='container'>
    	<div class='row'>
    		<div class='col-xs-12 col-sm-12 col-md-12 text-center'>
			    <a class='site-title' href="{{ site.baseurl }}/">Josh Teague 
			    	<span class='whatido'>• Digital Product Design & Strategy</span>
			    </a>
		    </div>
<!-- 		    <div class='col-xs-12 col-sm-6 col-md-6'>
		    	<ul>
		    		<li><a class="active" href='/'>Portfolio</a></li>
		    		<li><a href='http://www.twitter.com/joshteague'>@joshteague</a></li>
		    		<li><a href='mailto:joshteague@gmail.com'>Email Me</a></li>
		    	</ul>
		    	</div> -->
	    </div>
    </div>

  </div>

</header>
