<header class="site-header">
    <div class='container'>
    	<div class='row'>
    		<div class='col-xs-12 col-sm-2 col-md-2'>
			    <a class='site-title' href="{{ site.baseurl }}/"><img src="/assets/face.png"> 
			    </a>
		    </div>
		    <div class='col-xs-12 col-sm-2 col-md-2'>
		    	<ul>
		    		<li><a class="active" href='/'>Journal</a></li>
		    		<li><a href='//blog.joshteague.com'>About</a></li>
		    		<li><a href='/contact'>Contact</a></li>
		    	</ul>
		    </div>
		    <div class='col-xs-12 col-sm-8 col-md-8'>
		    	<div class="bio"><b>Hi, I'm Josh.</b> For the past 10+ years I’ve led product teams to create breakthrough digital product experiences. After 4 years at <span class="g">G</span><span class="o1">o</span><span class="o2">o</span><span class="g">g</span><span class="l">l</span><span class="o1">e</span>, I’m now leading design at <a href="http://www.thefullstory.com/">FullStory</a>.
		    </div>
	    </div>
    </div>
</header>
