<!DOCTYPE html>
<html>

  {% include head.html %}

  {% capture body_class %}{% if page.hide_header %}no-site-header {% endif %}{% if page.hide_footer %}no-site-footer {% endif %}{% if page.center_page %}centered-page{% endif %}{% endcapture %}
  <body{% if body_class != '' %} class="{{ body_class | strip }}"{% endif %}>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
